#root {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

button {
  width: fit-content;
  justify-self: center;
  align-self: center;
  margin: 1vh;
}

/* * {
  outline: greenyellow 1px solid;
} */