.hidden {
    display: none !important;
}

/* .preview * {
  outline: rgb(135, 197, 43) 1px solid;
} */

.stage2,
.welcome,
.venue,
.customer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome {
  color: rgb(248, 172, 255);
  flex-direction: column;
  font-size: 15px;
}

.venue,
.customer {
  flex-direction: column;
  background: 
    linear-gradient(
      rgb(15, 0, 29),
      rgb(59, 14, 77),
      rgb(15, 0, 29)
    );
}

.customer {
  gap: 1vh;
}

.customer label {
  margin-top: 2vh;
}

.upload {
  display: none;
}

.label {
  height: 20px;
  width: 60px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: rgb(138, 81, 150);
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
}

.label:hover {
  border-color: rgba(255, 255, 255, 0.699);
  background-color: rgb(138, 81, 150);
}
.label:focus,
.label:focus-visible {
  outline: 4px auto wh-webkit-focus-ring-color;
}

.preview {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.album {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center !important;
  height: 100%;
  width: 100%;
  background: 
    linear-gradient(
      rgb(15, 0, 29),
      rgb(59, 14, 77),
      rgb(15, 0, 29)
    );
}

.preview_section {
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preview_image {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 90%;
}

.preview_image img {
  height: auto;
  width: auto;
  max-height: 90%;
  max-width: 100%;
  border-radius: 10px;
}

.trash {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  height: 10vw;
  width: 10vw;
  max-height: 40px;
  max-width: 40px;
  border: rgb(163, 22, 22) 2px solid;
  bottom: -5%;
}

.trash img {
  filter: invert(50%) sepia(50%) saturate(400%) hue-rotate(310deg) brightness(75%) contrast(300%);
  height: 70%;
}

.trash:hover {
  background-color: #142272;
}

.previous,
.next {
  height: 100%;
  min-width: 40px;
  width: 15%;
  max-width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.previous:hover,
.next:hover {
  background: linear-gradient(
      rgba(0, 0, 0, 0),
      rgb(76, 32, 95),
      rgba(0, 0, 0, 0)
    );
}

.previous img,
.next img {
  filter: invert(50%) sepia(50%) saturate(300%) hue-rotate(230deg) brightness(120%) contrast(100%);
  min-width: 40px;
  min-height: 40px;
  width: 40px;
  height: 40px;
}

.previous img {
  transform: rotate(180deg);
}

.album ul {
  height: 12%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}

.item {
  width: 70px;
  height: 100% !important;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item:hover{
  box-shadow: 0 0 3pt 2pt rgb(178, 83, 255);
}

.item img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  cursor: pointer;
}

.album button {
  margin-bottom: 2vh;
  padding: 5px 10px;
  background-color: rgb(68, 35, 75);
}

.album button:hover {
  border-color: rgba(255, 255, 255, 0.699);
  background-color: rgb(68, 35, 75);
}
.album button:focus,
.album button:focus-visible {
  outline: 4px auto wh-webkit-focus-ring-color;
}