.hidden {
    display: none !important;
}

/* * {
  outline: rgb(63, 145, 212) 1px solid;
} */

.monitor {
  width: clamp(350px, 100%, 620px);
  height: 100%;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.navigate {
  display: flex;
  height: 15%;
  width: 100%;
}

.line {
  height: 1%;
  width: 25%;
  background-color: rgb(248, 172, 255);
}

.current,
.history {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: 100%;
  cursor: pointer;
  font-size: clamp(18px, 4vw, 22px);
  font-weight: 500;
}

.current_section,
.history_section {
  display: flex;
  width: 50%;
  height: 100%;
}

.current_section {
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  background-color: rgba(248, 172, 255, 0.096);
  border-radius: 30px;
  box-sizing: border-box;
}

.history_section {
  background-color: rgba(0, 225, 255, 0.116);
  justify-content: center;
  align-items: center;
}

.sections {
  display: flex;
  width: 200%;
  height: 84%;
  position: absolute;
}

.left {
  transform: translateX(50%);
  transition: all 0.2s ease-in;
}

.right {
  transform: translateX(250%);
  transition: all 0.2s ease-in;
}

.curr {
  transform: translateX(0%);
  transition: all 0.2s ease-in;
}

.hist {
  transform: translateX(-50%);
  transition: all 0.2s ease-in;
}