.hidden {
    display: none !important;
}

/* * {
  outline: rgb(39, 80, 114) 1px solid;
} */

.monitor {
  width: clamp(350px, 100%, 620px);
  height: 100%;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.navigate {
  display: flex;
  height: 15%;
  width: 100%;
}

.navigate2 {
  height: 8%;
}

.line {
  height: 5px;
  width: 25%;
  background-color: rgb(248, 172, 255);
  border-radius: 1000px;
}

.current,
.history {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: 100%;
  cursor: pointer;
  font-size: clamp(18px, 3vw, 20px);
  font-weight: 500;
}

.current_section,
.history_section {
  display: flex;
  width: 50%;
  height: 100%;
  border-radius: 30px;
}

.current_section {
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  background-color: rgba(147, 85, 167, 0.089);
  box-sizing: border-box;
  gap: 3%;
}

.history_section {
  background-color: rgba(0, 225, 255, 0.116);
  justify-content: center;
  align-items: center;
}

.sections {
  display: flex;
  width: 200%;
  height: 84%;
  position: absolute;
}

.sections2 {
  height: 100vh;;
  max-height: 90% !important;
}

.left {
  transform: translateX(50%);
  transition: all 0.2s ease-in;
}

.right {
  transform: translateX(250%);
  transition: all 0.2s ease-in;
}

.curr {
  transform: translateX(0%);
  transition: all 0.2s ease-in;
}

.hist {
  transform: translateX(-50%);
  transition: all 0.2s ease-in;
}

.non_highlighted {
  color: rgb(140, 92, 145);
}