.hidden {
    display: none !important;
}

/* .carousel * {
  outline: rgb(135, 197, 43) 1px solid;
} */

.carousel {
  width: 100%;
  position: absolute;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.album {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  will-change: transform, opacity;
}

.album img {
  width: 100%;
  filter: brightness(75%);
}

.length1 {
  animation: appear 1s, spin 10s infinite linear, opacity 1s both;
}

.length2 {
  animation: appear 1s, spin 20s infinite linear, opacity 1s both;
}

.length3 {
  animation: appear 1s, spin 30s infinite linear, opacity 1s both;
}

.length4 {
  animation: appear 1s, spin 40s infinite linear, opacity 1s both;
}

.length5 {
  animation: appear 1s, spin 50s infinite linear, opacity 1s both;
}

@keyframes spin {
  from {transform: translate(0%, 0%)}
  to {transform: translate(0%, -100%)}
}

@keyframes opacity {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}