.hidden {
    display: none !important;
}

/* .homescreen_container * {
  outline: rgb(135, 197, 43) 1px solid;
} */

.carousel {
  width: 100%;
  position: absolute;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.album {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: appear 1s, spin 60s infinite linear, opacity 1s  both;
  will-change: transform, opacity;
}

.album img {
  width: 100%;
  filter: brightness(75%);
}

@keyframes spin {
  from {transform: translate(0%, 0%)}
  to {transform: translate(0%, -100%)}
}

@keyframes opacity {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}