.hidden {
    display: none !important;
}

/* * {
  outline: rgb(63, 145, 212) 1px solid;
} */

.customer {
  background-color: rgb(35, 4, 51);
  height: 100%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  font-size: clamp(10px, 3.5vw, 17px);
}