.hidden {
  display: none !important;
}

/* .venue * {
  outline: rgb(135, 197, 43) 1px solid;
} */

.venue,
.customer,
.time,
.open_time,
.birthday,
.gender,
.interest,
.closed_time,
.venue form,
.table {
  display: flex;
}

.venue,
.customer {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(248, 172, 255);
  background: 
    linear-gradient(
      rgb(15, 0, 29),
      rgb(59, 14, 77),
      rgb(15, 0, 29)
    );
}

.venue form {
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 5vh
}

.time {
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.open_time,
.closed_time {
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 100%;
  gap: 10px;
}

.open_time label,
.closed_time label {
  border-radius: 0%;
  min-width: 75px;
}

.open_time select,
.closed_time select {
  border-radius: 0%;
  background-color: rgb(0, 0, 0);
}

.table {
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.table label {
  text-wrap: nowrap;
  border-radius: 0;
  min-width: fit-content;
}

.table input {
  max-width: 30px;
  background-color: black;
  border: none;
  outline: rgb(150, 150, 150) 1px solid;
}

.table input::placeholder {
  color: rgb(255, 255, 255);
}

.venue button {
  margin: 0px ;
  background-color: rgb(95, 41, 105);
}

.birthday,
.gender,
.interest {
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 100%;
  gap: 10px;
}

.birthday label,
.gender label,
.interest label {
  border-radius: 0%;
  min-width: 100px;
  align-self: flex-end;
}

.birthday input,
.gender select,
.interest select {
  border-radius: 0%;
  background-color: rgb(0, 0, 0);
}

.birthday input {
  border: none;
  outline: rgb(150, 150, 150) 1px solid;
}