.hidden {
    display: none !important;
}

* {
  outline: rgb(121, 165, 55) 1px solid;
}

.dash_container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

header,
main,
nav,
.user,
.logout,
.profile_pic {
  display: flex;
  align-items: center;
}

.user {
  height: 100%;
  width: 80%;
  gap: 15px;
  padding-left: 3%;
  justify-content: flex-start;
}

.userdata {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.profile_pic img {
  width: 60px;
  min-width: 60px;
  max-width: 60px;
  height: 60px;
  border-radius: 50%;
  justify-content: center;
}

.logout {
  height: 100%;
  width: 20%;
  justify-content: center;
}

header,
nav {
  height: 10%;
  justify-content: space-around;
}

main {
  flex-direction: column;
  justify-content: center;
  height: 80%;
}

h2,
h3 {
  padding: 0px;
  margin: 0px;
}

button {
  width: fit-content;
}