/* * {
  outline: 1px greenyellow solid;
}  */

@font-face {
    font-family: 'brexit';
    src: url(../../font/Brexit-Regular.woff2);
}

.content {
  min-height: 70%;
  height: 70%;
  max-height: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.hidden {
    display: none !important;
}

.bg_container {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      rgb(255, 160, 215),
      rgb(255, 160, 215),
      rgb(173, 84, 164)
    );
  z-index: -999;
  display: flex;
  overflow: hidden;
  justify-content: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: white;
  width: 40vw;
  height: 20vh;
  font-family: brexit;
  padding-right: 1vw;
  top: 3%;
  font-size: 22vh;
  animation: logo 0.3s 0.1s both;
  will-change: transform;
}

.male,
.female {
  position: absolute;
  max-height: 100vh;
}

.table {
  animation: table 0.5s 0.4s both ;
  will-change: transform;
}

.male {
  animation: male 0.5s 0.7s both;
  will-change: transform;
}

.female {
  animation: female 0.5s 1s both;
  will-change: transform;
}

@keyframes logo {
    0% {
      transform: translate(0%, -100%);
    }
    100% {
      transform: translate(0%,0%);
    }
}

@keyframes table {
    0% {
      transform: translate(0%, 100%) scale(0%);
    }
    100% {
      transform: translate(0%,0%) scale(100%);
    }
}

@keyframes male {
    0% {
      transform: translate(-100%, 0%);
    }
    100% {
      transform: translate(0%,0%);
    }
}

@keyframes female {
    0% {
      transform: translate(100%, 0%);
    }
    100% {
      transform: translate(0%,0%);
    }
}