.hidden {
    display: none !important;
}

/* * {
  outline: rgb(121, 165, 55) 1px solid;
} */

.dash_container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

header,
main,
nav,
.user,
.logout,
.add,
label {
  display: flex;
  align-items: center;
}

label {
  justify-content: center;
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

label:hover {
  background-color: rgb(54, 38, 70);
}

.user {
  height: 100%;
  width: 80vw;
  justify-content: flex-start;
}

.userdata {
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

header .arrow {
  position: absolute;
  width: 20vh;
  height: auto;
  top: 10vh;
  left: clamp(1%, 3vw, 5%);
  filter: invert(50%) sepia(50%) saturate(500%) hue-rotate(220deg) brightness(123%) contrast(100%);
  animation: swing .7s ease-in-out infinite alternate both running;
}

@keyframes swing {
    0% {
        transform: rotate(245deg) translateX(-15%);
    }
    100% {
        transform: rotate(245deg) translateX(0%);
    }
}

.logout {
  height: 100%;
  min-width: 65px;
  width: 20vw;
  justify-content: center;
}

header,
nav {
  height: 10%;
  width: 100%;
  justify-content: space-around;
  background-color: rgb(15, 0, 29);
}

header {
  padding-top: 6px;
}

nav {
  font-size: 13px;
}

main {
  flex-direction: column;
  justify-content: center;
  height: 80%;
}

button {
  background-color: rgb(68, 35, 75);
  font-size: 12px;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  min-width: 80px;
  width: 10%;
  max-width: 92px;
  height: 100%;
}

.name {
  color: rgb(255, 255, 255);
  font-size: 18px;
}

.divider {
  background:
    linear-gradient(
      0.25turn,
      rgb(125, 51, 155),
      rgb(125, 51, 155),
      rgb(125, 51, 155),
      rgb(15, 0, 29)
    );
  height: 1px;
  width: 100%;
}

.email {
  color: rgb(178, 137, 194);
  font-size: 15px;
}