.hidden {
    display: none !important;
}

/* * {
  outline: rgb(121, 165, 55) 1px solid;
} */

.dash_container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

header,
main,
nav,
.user,
.logout,
.add,
label {
  display: flex;
  align-items: center;
}

label {
  justify-content: center;
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

label:hover {
  background-color: rgb(54, 38, 70);
}

.user {
  height: 100%;
  width: 80%;
  gap: 15px;
  padding-left: 3%;
  justify-content: flex-start;
}

.userdata {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.border {
  border: 2px solid rgb(211, 148, 226);
}

header .arrow {
  position: absolute;
  width: 20vh;
  height: auto;
  top: 10vh;
  left: clamp(1%, 3vw, 5%);
  filter: invert(50%) sepia(50%) saturate(500%) hue-rotate(220deg) brightness(123%) contrast(100%);
  animation: swing .7s ease-in-out infinite alternate both running;
}

@keyframes swing {
    0% {
        transform: rotate(245deg) translateX(-15%);
    }
    100% {
        transform: rotate(245deg) translateX(0%);
    }
}

.logout {
  height: 100%;
  width: 20%;
  justify-content: center;
}

header,
nav {
  height: 10%;
  justify-content: space-around;
}

main {
  flex-direction: column;
  justify-content: center;
  height: 80%;
}

button {
  width: fit-content;
}