.hidden {
    display: none !important;
}

.content {
  height: 50vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5vh;
  text-align: center;
  font-size: 24px;
}