.hidden {
    display: none !important;
}

.logout_container, 
.logout_container a {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.logout_container {
  padding: 8px;
}

a {
  height: 100%;
  width: 100%;
}

.logout_container:hover {
  box-shadow: 0 0 4pt 2pt rgb(225, 150, 255);
}