.hidden {
    display: none !important;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 3pt 2pt rgb(168, 100, 196);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-color: orange;
}

.upload {
  display: none;
}

.label {
  overflow: hidden;
  min-width: 50px;
  min-height: 50px;
}

.add {
  height: 50%;
  filter: invert(50%) sepia(50%) saturate(500%) hue-rotate(220deg) brightness(123%) contrast(100%);
}

.logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow-clip-margin: unset !important;
}

.send {
  position: absolute;
  top: 35%;
  left: 40%;
}