.hidden {
    display: none !important;
}

.upload {
  display: none;
}

.avatar,
.logo {
  display: flex;
  align-items: center;
  max-width: 60px;
  height: 60px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.add {
  justify-content: center;
  align-items: center;
  max-width: 50%;
  height: auto;
  filter: invert(50%) sepia(50%) saturate(500%) hue-rotate(220deg) brightness(123%) contrast(100%);
}

.send {
  position: absolute;
  top: 35%;
  left: 40%;
}

img {
  object-fit: cover;
  overflow-clip-margin: unset;
}