.hidden {
    display: none !important;
}

.upload {
  display: none;
}

label {
  height: 100%;
  min-width: 100%;
  border-radius: 50%;
}

.add  {
  min-height: 50%;
  min-width: 50%;
  height: 50%;
  width: 50%;
  max-height: 50%;
  max-width: 50%;
  filter: invert(50%) sepia(50%) saturate(500%) hue-rotate(220deg) brightness(123%) contrast(100%);
}

.logo {
  display: flex;
  align-items: center;
  max-width: 60px;
  height: 60px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

img {
  border-radius: 50%;
}

.send {
  position: absolute;
  top: 35%;
  left: 40%;
}

.logo {
  object-fit: cover;
  overflow-clip-margin: unset !important;
}