/* * {
  outline: 1px greenyellow solid;
}  */

.content {
  height: 50vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-self: center;
  padding-bottom: 10vh;
}

.btns_div {
  display: flex;
  flex-direction: column;
}

.hidden {
    display: none;
}

.content.login {
  height: 100vh;
  padding: 0px;
}