/* * {
  outline: 1px greenyellow solid;
}  */

.content {
  min-height: 60%;
  height: 60%;
  max-height: 60%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.btns_div {
  display: flex;
  flex-direction: column;
}

.hidden {
    display: none;
}

.content.login {
  height: 100%;
  padding: 0px;
}