.hidden {
    display: none !important;
}

.btns_div {
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
  animation: appear 0.3s 0.2s both, opacity 0.2s 0.2s both;;
  will-change: transform, opacity;
  position: absolute;
  top: 40%;
}

@keyframes appear {
    0% {
      transform: scale(1%);
    }
    100% {
      transform: scale(100%);
    }
}

@keyframes opacity {
    0% {
        opacity: 0.1;
    }
    100% {
        opacity: 1;
    }
}