.hidden {
    display: none !important;
}

 /* * {
  outline: rgb(109, 155, 40) 1px solid;
} */

.person_container {
  height: clamp(80px, 20vw, 100px);
  aspect-ratio: 1/1;
  border-radius: 50%;
  box-shadow: 0 0 3pt 2pt rgb(225, 150, 255);
  cursor: pointer;
  animation: appear 0.5s both, opacity 0.6s both;
  will-change: transform, opacity;
}

.person_container img{
  max-height: 100%;
  border-radius: 50%;
  animation: appear 0.5s both, opacity 0.6s both;
  will-change: transform, opacity;
}

@keyframes appear {
  0% {
    transform: scale(1%);
  }
  100% {
    transform: scale(100%);
  }
}

@keyframes opacity {
  0% {
      opacity: 0.1;
  }
  100% {
      opacity: 1;
  }
}