.hidden {
  display: none !important;
}

/* .likes_container * {
  outline: rgb(135, 197, 43) 1px solid;
} */

.likes_container {
  width: 100%;
  height: 30%;
  padding-top: 10px;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  padding-bottom: 20px;
}

.title {
  font-size: clamp(11px, 2vh, 16px);
  font-weight: 600;
  padding: 0px 7px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  cursor: default;
  animation: appear 0.5s both, opacity 0.6s both;
  will-change: transform, opacity;
}

.likes {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 20px;
}

.limit {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 600px;
  margin-bottom: 10px;
}

.likes_container button {
  box-shadow: 0 0 2pt 1pt rgb(225, 150, 255);
  color: rgb(255, 255, 255);
  margin: 0px;
}

.likes_container button:hover {
  box-shadow: 0 0 5pt 3pt rgb(225, 150, 255);
}

.btn_container {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.expanded_container {
  height: fit-content;
  max-height: 55%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.expanded_content {
  height: 100%;
  flex-wrap: wrap;
  overflow-y: scroll;
  scrollbar-width: none;
  align-content: flex-start;
  margin-top: 5px;
  padding: 20px;
  background: linear-gradient(
    to right, 
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0)
  );
}

.limit > div {
  margin-bottom: 0px;
}

@keyframes appear {
  0% {
    transform: scale(0%);
  }
  100% {
    transform: scale(100%);
  }
}

@keyframes opacity {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}