.hidden {
  display: none !important;
}

/* .top_container * {
  outline: rgb(135, 197, 43) 1px solid;
} */

.top_container {
  width: 100%;
  height: fit-content;
  padding: 10px 0px;
  z-index: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 3px;
}

.name,
.hours {
  font-weight: 600;
  padding: 0px 7px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  cursor: default;
  animation: appear 0.5s both, opacity 0.6s both;
  will-change: transform, opacity;
}

.name {
  font-size: clamp(12px, 5vw, 20px);
}

.hours {
  font-size: clamp(10px, 4vw, 16px);
}

@keyframes appear {
  0% {
    transform: scale(0%);
  }
  100% {
    transform: scale(100%);
  }
}

@keyframes opacity {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}