.hidden {
    display: none !important;
}

/* * {
  outline: rgb(135, 197, 43) 1px solid;
} */

.upload_container {
  width: 80%;
  height: 40%;
  min-width: 320px;
  max-width: 365px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: clamp(11px, 3vw, 16px);
  overflow: wrap;
  box-sizing: border-box;
  line-height: 1.3;
  border: 2px solid rgba(246, 179, 255, 0.884);
  border-radius: 15px;
  font-size: 14px;
  font-weight: 500;
}

.cust_name {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
  font-size: 16px;
  padding-top: 10px;
  line-height: 1.2;
}

.message {
  width: 90%;
  padding: 5px 0px;
  border-radius: 10px;
  background-color: rgba(248, 172, 255, 0.13);
  max-height: 50%;
  font-size: clamp(13px, 3.3vw, 16px);
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.message img {
  max-width: 100%;
  max-height: 100%;
}

.btns {
  width: 100%;
  height: 30%;
  min-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  gap: 10px;
}

.upload {
  display: none;
}

.btns .label,
.btns button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 13px;
  font-weight: 500;
  font-family: inherit;
  background-color: rgb(89, 74, 223);
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
  min-width: 70px;
  max-width: 70px;
  min-height: 35px;
  max-height: 35px;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.btns .label:hover,
.btns button:hover {
  border-color: rgba(255, 255, 255, 0.699);
  background-color: rgb(77, 66, 177);
}

.loading {
  max-height: 40%;
  color: rgb(248, 172, 255);
  font-size: 15px;
}

.loading img {
  max-width: 100%;
  max-height: 20vh;
}

.uploaded_image {
  max-height: 40%;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 5px;
  position: relative;
  animation: appear 0.5s 0.5s both, opacity 0.5s 0.6s both;
  will-change: transform, opacity;
}

.uploaded_image div{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 10px;
  z-index: 2;
  background: linear-gradient(
      rgb(0, 0, 0),
      rgba(0, 0, 0, 0.808),
      rgba(0, 0, 0, 0.26),
      rgb(0, 0, 0, 0),
      rgb(0, 0, 0, 0),
      rgb(0, 0, 0, 0),
      rgba(0, 0, 0, 0.404),
      rgba(0, 0, 0, 0.801),
      rgba(0, 0, 0)
    );
  top: 0%;  
  box-sizing: border-box;
  padding-bottom: 5px;
  font-size: clamp(13px, 3.5vw, 16px);
  font-weight: 500;
  border: 3px rgb(119, 107, 228) solid;
  box-sizing: border-box;
}

.uploaded_image img{
  max-height: 100%;
  width: auto;
  border-radius: 10px;
}

.uploaded_image button {
  background-color: rgb(77, 66, 177);
  margin: 0px;
  position: absolute;
  width: 60px;
  bottom: 3%;
  z-index: 3;
}

.post_registration {
  height: fit-content;
}

@keyframes appear {
    0% {
      transform: scale(0%);
    }
    100% {
      transform: scale(100%);
    }
}

@keyframes opacity {
    0% {
        opacity: 0.1;
    }
    100% {
        opacity: 1;
    }
}