.hidden {
    display: none !important;
}

 /* * {
  outline: rgb(109, 155, 40) 1px solid;
} */

.user_container {
  height: clamp(60px, 8vh, 100px);
  aspect-ratio: 1/1;
  border-radius: 50%;
  box-shadow: 0 0 3pt 2pt rgb(225, 150, 255);
  cursor: pointer;
  animation: appear 0.5s both, opacity 0.6s both;
  will-change: transform, opacity;
  margin-bottom: 20px;
}

.user_container div {
  font-size: clamp(12px, 2vw, 14px);
  color: rgb(255, 255, 255);
}

.user_container img{
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  animation: appear 0.5s both, opacity 0.6s both;
  will-change: transform, opacity;
}

.user_container:hover {
  box-shadow: 0 0 6pt 4pt rgb(225, 150, 255);
}

.host_label,
.guest_label {
  font-size: 13px !important;
  background-color: black;
  font-weight: 600;
  line-height: 1;
  height: fit-content;
  max-height: 20px;
  aspect-ratio: 1/1;
  padding: 5px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  position: absolute;
  bottom: 0%;
  animation: appear 0.5s both, opacity 0.6s both;
  will-change: transform, opacity;
}

.host_label {
  color: rgb(255, 144, 144) !important;
}

.guest_label {
  color: rgb(145, 255, 249) !important;
  right: 0%;
}

@keyframes appear {
  0% {
    transform: scale(1%);
  }
  100% {
    transform: scale(100%);
  }
}

@keyframes opacity {
  0% {
      opacity: 0.1;
  }
  100% {
      opacity: 1;
  }
}