.hidden {
    display: none !important;
}

.container {
  min-height: 40%;
  height: 40%;
  max-height: 40%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 5vh;
}

ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

li {

  width: 12vh;
}

img {
  height: 10vh;
  width: 10vh;
  border-radius: 50%;
  object-fit: cover;
  overflow-clip-margin: unset !important;
}

h4 {
  justify-self: flex-end;
  align-self: center;
  margin: 0px;
}