/* * {
  outline: 1px greenyellow solid;
}  */

.content {
  height: 50vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-self: center;
}

h4 {
  justify-self: flex-end;
  align-self: center;
  margin: 0px;
}

.btns_div {
  display: flex;
  flex-direction: column;
}

.hidden {
    display: none;
}